body
{
  background-color: #999999;
  font-family: Marcellus, serif;
}

h1
{
  color: #282828;
  font-family: 'Marcellus SC', serif;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  text-shadow: 0px 2px 5px #555;
}

a
{
  color: #fa0;
  text-shadow: 0px 2px 5px #555;
}

dt
{
  clear: both;
  color: #282828;
  float: left;
  font-size: 36px;
  font-weight: normal;
  margin-right: 15px;
  padding-right: 15px;
  text-align: right;
  text-shadow: 0px 2px 5px #555;
  width: 150px;
}

dd
{
  color: #999999;
  font-size: 36px;
  text-shadow: 0 2px 4px #2A2A2A;
}

table
{
  padding: 0 2em;
  width: 100%;
}

th
{
  color: #282828;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 8px;
  text-shadow: 0px 2px 5px #555;
}

td
{
  color: #999999;
  font-size: 20px;
  padding: 5px 20px;
  text-shadow: 0 2px 4px #2A2A2A;
}
