<!DOCTYPE html>
<html>
  <head>
    <title>{{key}} | Artcast</title>
    <script type="text/javascript" src="{{ static_url("js/jquery-1.8.2.min.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url("style/artcast.css") }}">
  </head>
  <body>
    <dl>
      <dt>Artcast</dt>
      <dd id="key">{{key}}</dd>
      <dt>Value</dt>
      <dd id="value"></dd>
    </dl>
    <script type="text/javascript">
      $(document).ready(function()
      {
        function get_value()
        {
          $.ajax(
          {
            accept: "application/json",
            type: "GET",
            url: "/artcasts/{{key}}",
            success: function(data)
            {
              $("#value").text(data);
              get_value();
            },
            error: function(request, status, reason_phrase)
            {
              $("#value").text("Error: " + reason_phrase);
              window.setTimeout(get_value, 5000);
            }
          });
        }

        get_value();
      });
    </script>
  </body>
</html>
