<!DOCTYPE html>
<html>
  <head>
    <title>{{key}} | Artcast</title>
    <script type="text/javascript" src="{{ static_url("js/jquery-1.8.2.min.js") }}"></script>
    <link href="http://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Marcellus" rel="stylesheet" type="text/css">
    <link href="{{ static_url("style/artcast.css") }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <dl>
      <dt>Artcast</dt>
      <dd id="key">{{key}}</dd>
      <dt>Value</dt>
      <dd id="value"></dd>
      <dt>License</dt>
      <dd id="license"></dd>
    </dl>
    <script type="text/javascript">
      $(document).ready(function()
      {
        function get_value()
        {
          $.ajax(
          {
            accept: "application/json",
            type: "GET",
            url: "/artcasts/{{key}}",
            success: function(data, status, request)
            {
              $("#value").text(data);
              var link = request.getResponseHeader("Link");
              if(link)
              {
                var uri = /<([^>]+)>/g.exec(link)[1];
                var title = /title="([^"]+)"/g.exec(link)[1];
                $("#license").empty();
                $("<a>").attr("href", uri).text(title).appendTo("#license");
              }
              get_value();
            },
            error: function(request, status, reason_phrase)
            {
              $("#value").text("Error: " + reason_phrase);
              window.setTimeout(get_value, 5000);
            }
          });
        }

        get_value();
      });
    </script>
  </body>
</html>
